<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<div class="board row">
  <div class="header">
    <div class="col-md-4" > To Do </div>
    <div class="col-md-4"> Progress </div>
    <div class="col-md-4"> Done </div>
  </div>
  <div class= "todo-container">
    <div class="col-md-4">
      <% @notes.each do |note| %>
        <div class="post" >
          <p> <%= note.text %> </p>
          <%= link_to 'Show', note %>
          <%= link_to 'Edit', edit_note_path(note) %>
          <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <%end%>
    </div>
  </div>
</div>


<br>

<%= link_to 'New Note', new_note_path %>
